.header_panel {
    display: grid;
    grid-template-columns: 100px auto auto;
    width: 100%;
}

.header_panel_buttons {
    margin: 0 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
}