.container {
  position: relative;
}

.tooth_button {
  position: absolute;
  border-radius: 8px;
  width: 30px;
}

.text {
  position: absolute;
  color: gray;
}

.selected_tooth {
  box-shadow: inset 0 0 0 2px;
}