.card {
  height: 200px;
}

.new_card_upper_section {
  align-self: center;
  justify-self: center;
}

.new_card_bottom_section {
  align-self: baseline;
  justify-self: center;
}

.project_name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: baseline;
}

.project_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: self-end;
}

@media (max-width: 768px) {
  .card {
    height: 130px;
  }

  .project_name,
  .project_description {
    -webkit-line-clamp: 2;
  }
}