.header_text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 10px;
}

aside.sidebar {
  position: sticky;
  top: 0;
  border: none;
}

.header {
  background-color: #f1f6ff;
  margin-bottom: 20px;
  align-content: center;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}
